# Imports

In [1]:
import pandas as pd
from Modules import Cleaner
from Modules import DataSource
from Modules.Regression.LinearReg import LinearReg
from Modules.Regression.DecisionTreeReg import DecisionTreeReg
from Modules.Regression.MultiLinearReg import MultiLinearReg
from Modules.Regression.PolynomialReg import PolynomialReg
from Modules.Regression.RandomForestReg import RandomForestReg
from Modules.Clustering.KMeansClustering import KMeansClustering
from Modules.Clustering.KNNClustering import KNNClustering

# DB
# datafile = DataSource.fetch('http://notebookserver:5000/api/cars/all','./data/bilhandel_clean.csv')
# LOCAL
datafile = Cleaner.get_and_clean_df('./Data/bilhandel_clean.csv')
display(datafile)

./Data/bilhandel_clean.csv

,Brændstoftype,Gearkasse,Make,Model,Antal døre,Grøn Ejerafgift,Hestekræfter,Kilometer,Km/l,Antal gear,0 - 100 km/t,Nypris,Årgang,Tophastighed,Vægt,Pris
0,Diesel,Manuel,Peugeot,"407 1,6 HDi XR SW",5.0,6540.0,110.0,292000.0,17.9,6.0,13.7,307689.0,2005,189.0,1475.0,14700
2,Diesel,Automatisk,Skoda,"Superb 2,0 TDi 150 Ambition DSG",5.0,3880.0,150.0,243000.0,22.2,6.0,8.9,436000.0,2016,218.0,1400.0,169700
3,Benzin,Automatisk,VW,"Passat 1,4 GTE Variant DSG Van",5.0,660.0,218.0,75000.0,32.3,6.0,7.6,318324.0,2018,225.0,1635.0,2495
4,Benzin,Manuel,Kia,"Rio 1,2 CVVT Collect",5.0,660.0,86.0,107000.0,21.3,5.0,13.1,139998.0,2014,168.0,1158.0,69800
5,Diesel,Manuel,Peugeot,"407 1,6 HDi XR SW",5.0,6540.0,110.0,292000.0,17.9,6.0,13.7,307689.0,2005,189.0,1475.0,14700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,Benzin,Manuel,Seat,"Mii 1,0 60 Style eco",5.0,660.0,60.0,156000.0,24.4,5.0,14.4,102402.0,2014,161.0,940.0,49999
19995,Benzin,Automatisk,BMW,"530i 2,0 aut.",4.0,1780.0,252.0,57000.0,18.2,8.0,6.2,662193.0,2018,250.0,1515.0,459900
19996,Benzin,Automatisk,VW,"Polo 1,0 TSi 115 Highline DSG",5.0,1080.0,115.0,5000.0,22.9,7.0,9.5,216117.0,2020,200.0,1090.0,249500
19997,Benzin,Manuel,Skoda,"Octavia 1,2 TSi 105 Ambiente",5.0,1880.0,105.0,156000.0,17.5,6.0,10.8,224002.0,2011,192.0,1170.0,64900
19998,Benzin,Manuel,Peugeot,"206+ 1,4 Comfort+",5.0,2520.0,75.0,156000.0,15.9,5.0,15.0,149992.0,2009,173.0,975.0,29900

# Compare all our implemented models, which holds a single score
Polynomial Regression is not included, as the score depends on what features are selected for the model.

In [2]:
makes = ['Mazda', 'VW', 'Mercedes', 'Ford', 'Audi']
df = pd.DataFrame(columns=['Make','Model', 'Score', 'Number of Cars'])

for m in makes:
    # Linear Regression
    linear_regression = LinearReg(datafile, make=m)
    lin_score = round(linear_regression.score(),3)
    count = len(linear_regression.dataset.index)
    
    # Multilinear Regression
    multilinear_regression = MultiLinearReg(datafile, make=m)
    mul_score = round(multilinear_regression.score(),3)

    # Random Forest Regression
    random_regression = RandomForestReg(datafile, make=m)
    random_score = round(random_regression.score(),3)

    # Decision Tree Regression
    decision_regression = DecisionTreeReg(datafile,make=m)
    decision_score = round(decision_regression.score(),3)

    appendDF = pd.DataFrame({'Make':m,
                            'Model':['Linear Regression', 'Multilinear Regression', 'Random Forest Regression', 'Decision Tree Regression','----------------'],
                            'Score':[lin_score, mul_score, random_score, decision_score, '----------'],
                            'Number of Cars':[count,count,count,count,'----------']})
    
    df = df.append(appendDF)
df = df.set_index('Make')

# Results from models

In [3]:
display(df)

                             Model       Score Number of Cars
Make
Mazda            Linear Regression       0.412            279
Mazda       Multilinear Regression       0.871            279
Mazda     Random Forest Regression       0.931            279
Mazda     Decision Tree Regression           1            279
Mazda             ----------------  ----------     ----------
VW               Linear Regression       0.412           1744
VW          Multilinear Regression       0.641           1744
VW        Random Forest Regression       0.524           1744
VW        Decision Tree Regression       0.891           1744
VW                ----------------  ----------     ----------
Mercedes         Linear Regression       0.412            425
Mercedes    Multilinear Regression       0.131            425
Mercedes  Random Forest Regression      -0.473            425
Mercedes  Decision Tree Regression       0.282            425
Mercedes          ----------------  ----------     ----------
Ford             Linear Regression       0.412            873
Ford        Multilinear Regression       0.794            873
Ford      Random Forest Regression        0.85            873
Ford      Decision Tree Regression       0.968            873
Ford              ----------------  ----------     ----------
Audi             Linear Regression       0.412            996
Audi        Multilinear Regression       0.262            996
Audi      Random Forest Regression      -0.102            996
Audi      Decision Tree Regression       0.755            996
Audi              ----------------  ----------     ----------