# Multiple Linear Regression

# Import libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from Modules import Cleaner as cl

# Importing the dataset

In [2]:
dataset = cl.get_and_clean_df('./data/bilhandel_clean.csv')

dataset = dataset[dataset['Make'] == 'Mazda']

X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
display(dataset)

./data/bilhandel_clean.csv

,Brændstoftype,Gearkasse,Make,Model,Antal døre,Grøn Ejerafgift,Hestekræfter,Kilometer,Km/l,Antal gear,0 - 100 km/t,Nypris,Årgang,Tophastighed,Vægt,Pris
233,Benzin,Manuel,Mazda,"3 2,0 Sky-G 165 Optimum",5.0,1880.0,165.0,119000.0,17.2,6.0,8.2,293392.0,2013,210.0,1295.0,124900
262,Benzin,Manuel,Mazda,"2 1,5 Sky-G 75 Core",5.0,660.0,75.0,119000.0,21.3,5.0,12.1,129988.0,2015,171.0,945.0,84900
302,Diesel,Manuel,Mazda,"6 2,2 DE 125 Go",4.0,6540.0,125.0,147000.0,18.2,6.0,10.7,329476.0,2010,195.0,1500.0,69800
311,Benzin,Manuel,Mazda,"3 1,6 Advance",5.0,2520.0,105.0,339000.0,15.9,5.0,12.2,218049.0,2009,184.0,1155.0,24900
424,Benzin,Automatisk,Mazda,"CX-3 2,0 Sky-G 120 Optimum aut.",5.0,1880.0,120.0,85000.0,17.2,6.0,9.9,290998.0,2016,187.0,1198.0,179500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19889,Diesel,Manuel,Mazda,"5 2,0 DE 143 Sport Van",5.0,5350.0,143.0,142000.0,10.9,6.0,11.0,239500.0,2008,197.0,1510.0,34990
19906,Benzin,Manuel,Mazda,"3 1,6 Advance",4.0,2520.0,105.0,120000.0,15.4,5.0,12.2,224998.0,2011,188.0,1277.0,64900
19934,Benzin,Manuel,Mazda,"2 1,3 Advance",5.0,1280.0,86.0,133000.0,19.2,5.0,12.9,149992.0,2010,172.0,930.0,52800
19967,Benzin,Automatisk,Mazda,"CX-5 2,0 Sky-G 160 Vision aut. AWD",5.0,3140.0,160.0,93000.0,15.2,6.0,9.6,440398.0,2014,187.0,1537.0,209900
19990,Benzin,Manuel,Mazda,"3 1,6 Advance",4.0,2520.0,105.0,145000.0,15.4,5.0,12.2,224999.0,2011,184.0,1155.0,59900

## Encoding categorical data

In [3]:
from sklearn.compose import ColumnTransformer

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X[:, 0] = le.fit_transform(X[:,0])
X[:, 1] = le.fit_transform(X[:,1])
X[:, 2] = le.fit_transform(X[:,2])
X[:, 3] = le.fit_transform(X[:,3])

array([[-0.61416637,  0.64516948,  0.        , ..., -0.21527398,
         0.92021003, -0.01108144],
       [-0.61416637,  0.64516948,  0.        , ...,  0.20037612,
        -1.52491949, -1.83895723],
       [ 1.28974939,  0.64516948,  0.        , ..., -0.83874912,
        -0.0202244 ,  1.05953153],
       ...,
       [-0.61416637,  0.64516948,  0.        , ..., -0.83874912,
        -1.46222386, -1.91729477],
       [-0.61416637, -1.54998033,  0.        , ..., -0.00744893,
        -0.52178943,  1.25276411],
       [-0.61416637,  0.64516948,  0.        , ..., -0.63092407,
        -0.70987631, -0.74223176]])

## Splitting the dataset into the Training set and Test set

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [5]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [6]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[279173.07 299900.  ]
 [129313.85  79900.  ]
 [208018.27 224990.  ]
 [184514.15 149900.  ]
 [ 24936.33  32990.  ]
 [256965.2  259000.  ]
 [236945.48 329900.  ]
 [110682.84 109900.  ]
 [258723.63 264900.  ]
 [118902.19  64995.  ]
 [ 69613.02  99900.  ]
 [184671.06 179900.  ]
 [345783.09 369800.  ]
 [ 94207.64 118000.  ]
 [217367.   212000.  ]
 [ 80664.    32000.  ]
 [165809.25 149800.  ]
 [269596.65 329800.  ]
 [ 70389.21  49900.  ]
 [ 99482.92 122500.  ]
 [319049.2  352900.  ]
 [ 23156.31  32900.  ]
 [172859.66 149700.  ]
 [-35498.13   9900.  ]
 [206242.91 269900.  ]
 [ 73542.69  94900.  ]
 [200239.21 179900.  ]
 [102434.37 119900.  ]
 [332398.9  344990.  ]
 [ 53075.41 120000.  ]
 [ 46349.26  19900.  ]
 [109221.57  89900.  ]
 [119413.08  79900.  ]
 [ 90971.41  79900.  ]
 [255637.74 239800.  ]
 [186630.45 195000.  ]
 [142454.56 169900.  ]
 [ 66631.99  44800.  ]
 [ 61954.56  89900.  ]
 [267118.78 119900.  ]
 [317371.41 319800.  ]
 [240337.01 234900.  ]
 [209692.17 154900.  ]
 [131183.93 143800.  ]
 [-78605.81   3500.  ]
 [205623.79 194900.  ]
 [345119.73 369800.  ]
 [-56806.64   9990.  ]
 [136491.11 150000.  ]
 [165756.01 149995.  ]
 [162207.18 149900.  ]
 [234652.45 244900.  ]
 [169827.32 158900.  ]
 [ 86635.25 112900.  ]
 [174761.09 179500.  ]
 [204232.35 174900.  ]
 [222436.23   1648.  ]
 [142848.11 154900.  ]
 [234913.41 119900.  ]
 [-60826.75   9500.  ]
 [ 16144.21  33900.  ]
 [232412.12 227000.  ]
 [212294.95 259700.  ]
 [155083.05 144700.  ]
 [329549.11 299800.  ]
 [174477.86 139900.  ]
 [ -4722.54  22900.  ]
 [222251.49 249900.  ]
 [131156.65 164800.  ]
 [140917.95  82900.  ]
 [197180.52 172900.  ]
 [ -1927.19  29900.  ]
 [106958.94  79900.  ]
 [186520.67 199900.  ]
 [ 70631.01 109400.  ]
 [-20679.51  24900.  ]
 [317153.32 330000.  ]
 [ 26702.69  99500.  ]
 [261455.79 264800.  ]
 [168447.3  169900.  ]
 [184557.33 129900.  ]
 [-19482.16  42800.  ]
 [249952.97 304790.  ]
 [199279.55 199990.  ]]

## Evaluating the Model Performance

In [7]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7734784023557882