In [6]:
import requests
import pandas as pd
import json
import matplotlib.pyplot as plt
from Modules import Cleaner

In [1]:
from Modules import DataSource
dataset = DataSource.fetch('http://notebookserver:5000/api/cars/all', "./data/bilhandel_clean.csv")
display(dataset.shape)

(12009, 16)

In [ ]:


re = requests.get('http://notebookserver:5000/api/manufactorcount')

json_dump = json.dumps(re.text)

df = pd.read_json(re.text)

pd.set_option("display.max.columns", None)
df.head()
df1 = df.iloc[0]
make = list(df.iloc[0])
count = list(df.iloc[1])
width = 1
plt.pie(count,labels=make)

In [ ]:
re = requests.get('http://notebookserver:5000/api/pricemiles')
df = pd.read_json(re.text)
#Make all non-numeric entries to NaN.
numbersOnlyPrice = pd.to_numeric(df.iloc[1], errors='coerce')
numbersOnlyMiles = pd.to_numeric(df.iloc[0], errors='coerce')

plt.scatter(numbersOnlyMiles, numbersOnlyPrice)
plt.show()

In [ ]:
re = requests.get('http://notebookserver:5000/api/pricemiles/make?make=audi')
df = pd.read_json(re.text)
#df[df.id.apply(lambda x: x.isnumeric())]
#Make all non-numeric entries to NaN.
numbersOnlyPrice = pd.to_numeric(df.iloc[1], errors='coerce')
numbersOnlyMiles = pd.to_numeric(df.iloc[0], errors='coerce')

plt.scatter(numbersOnlyMiles, numbersOnlyPrice)
plt.show()