# Multiple Linear Regression

## Importing the libraries

In [90]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [91]:
dataset = pd.read_csv('bilhandel.csv')

del dataset['Sidst synet']
del dataset['Nummerplade']
del dataset['Farve']
del dataset['Trækhjul']
del dataset['Tank']
del dataset['Registreringsdato']
del dataset['Model']
dataset['Nypris'] = pd.to_numeric(dataset['Nypris'],errors='coerce')

dataset = dataset.dropna()
dataset['0 - 100 km/t'] = dataset['0 - 100 km/t'].str.replace(',', '.').astype(float)
dataset['Km/l'] = dataset['Km/l'].str.replace(',', '.').astype(float)
#dataset['Nypris'] = dataset['Nypris'].astype(float)
#dataset.apply(lambda x: x.str.replace(',', '.').astype(float), axis=1)
def df_column_switch(df, column1, column2):
    i = list(df.columns)
    a, b = i.index(column1), i.index(column2)
    i[b], i[a] = i[a], i[b]
    df = df[i]
    return df
dataset = df_column_switch(dataset, 'Pris', 'Antal gear')

X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
display(dataset)

,Årgang,Vægt,Tophastighed,Kilometer,Nypris,Cylindre,0 - 100 km/t,Airbags,Grøn Ejerafgift,Lasteevne,Gearkasse,Hestekræfter,Biltype,Max. påhæng,Antal gear,Antal døre,Km/l,Brændstoftype,Pris
0,2017,955.000,155.0,72.0,144.069,3.0,15.3,7.0,660.00,495.0,Manuel,69.0,Hatchback,730.0,5.0,5.0,23.3,Benzin,98.800
1,2008,1.173,185.0,115.0,301.283,4.0,11.8,6.0,3.14,527.0,Manuel,100.0,Hatchback,1.2,5.0,3.0,14.3,Benzin,64.900
2,2011,1.745,203.0,358.0,736.801,4.0,11.1,6.0,6.38,675.0,Automatisk,136.0,Stationcar,2.1,5.0,5.0,16.4,Diesel,99.500
4,2012,2.155,201.0,239.0,967.894,6.0,9.1,2.0,11.48,895.0,Automatisk,224.0,MPV,2.0,5.0,4.0,11.6,Diesel,299.800
6,2015,1.063,180.0,98.0,151.338,3.0,11.9,6.0,660.00,602.0,Manuel,90.0,Hatchback,1.2,6.0,3.0,23.3,Benzin,74.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991,2010,1.065,180.0,148.0,205.696,4.0,11.5,8.0,2.18,515.0,Manuel,90.0,Hatchback,1.2,5.0,5.0,27.0,Diesel,63.700
1992,2009,1.510,210.0,191.0,507.550,4.0,8.9,6.0,3.74,570.0,Automatisk,160.0,Stationcar,1.5,2.0,5.0,13.5,Benzin,94.900
1993,2016,1.707,200.0,121.0,360.477,4.0,10.4,6.0,4.68,523.0,Automatisk,180.0,Varevogn,2.1,6.0,5.0,19.2,Diesel,179.800
1994,2017,1.779,220.0,52.0,865.013,4.0,7.2,6.0,5.54,741.0,Automatisk,235.0,SUV,2.4,8.0,5.0,18.2,Diesel,3.910
1998,2018,1.325,224.0,7.0,341.011,4.0,8.2,6.0,1.16,460.0,Automatisk,150.0,Sedan,1.5,7.0,4.0,20.0,Benzin,299.900

## Encoding categorical data

In [92]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [10, 12, 17])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

## Splitting the dataset into the Training set and Test set

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [94]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

ValueError: could not convert string to float: 'Ring'

## Predicting the Test set results

In [0]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

## Evaluating the Model Performance

In [0]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)