# Multiple Linear Regression

# Import libraries

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import Cleaner as cl

## Importing the dataset

In [12]:
dataset = cl.get_and_clean_df('../data/bilhandel_unclean.csv')

dataset = dataset[dataset['Make'] == 'Mazda']

X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
display(dataset)

,Make,Brændstoftype,Gearkasse,Model,Kilometer,Årgang,Hestekræfter,Antal døre,Antal gear,Km/l,0 - 100 km/t,Tophastighed,Vægt,Grøn Ejerafgift,Nypris,Pris
197,Mazda,Benzin,Automatisk,CX-3,85000,2016,120,5,6,17.2,9.9,187.0,1.198,1.88,290998.0,179500
280,Mazda,Benzin,Manuel,3,339000,2009,105,5,5,15.9,12.2,184.0,1.155,2.52,218049.0,24900
297,Mazda,Benzin,Manuel,3,37000,2014,165,5,6,17.2,8.2,210.0,1.295,1.88,266997.0,149700
334,Mazda,Benzin,Automatisk,CX-5,9000,2020,165,5,6,16.7,9.8,192.0,1.484,2.38,435918.0,399700
381,Mazda,Benzin,Manuel,5,140000,2010,146,5,6,12.7,10.2,194.0,1.485,4.36,312990.0,79900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19595,Mazda,Benzin,Automatisk,2,28000,2015,90,5,6,20.8,12.0,177.0,975.000,660.00,175620.0,149900
19682,Mazda,Benzin,Manuel,3,116000,2013,165,5,6,17.2,8.2,210.0,1.295,1.88,293392.0,125000
19841,Mazda,Benzin,Manuel,3,145000,2011,105,4,5,15.4,12.2,184.0,1.155,2.52,224999.0,59900
19861,Mazda,Benzin,Manuel,6,78000,2002,141,5,5,11.8,9.9,206.0,1.300,4.96,281989.0,29900
19935,Mazda,Benzin,Manuel,2,133000,2010,86,5,5,19.2,12.9,172.0,930.000,1.28,149992.0,52800

## Encoding categorical data

In [13]:
from sklearn.compose import ColumnTransformer

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X[:, 0] = le.fit_transform(X[:,0])
X[:, 1] = le.fit_transform(X[:,1])
X[:, 2] = le.fit_transform(X[:,2])
X[:, 3] = le.fit_transform(X[:,3])
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(X)

array([[ 0.  , -0.61, -1.55, ..., -0.35, -0.31, -0.09],
       [ 0.  , -0.61,  0.65, ..., -0.35, -0.3 , -0.89],
       [ 0.  , -0.61,  0.65, ..., -0.35, -0.31, -0.35],
       ...,
       [ 0.  , -0.61,  0.65, ..., -0.35, -0.3 , -0.81],
       [ 0.  , -0.61,  0.65, ..., -0.35, -0.29, -0.19],
       [ 0.  , -0.61,  0.65, ...,  2.77, -0.31, -1.63]])

## Splitting the dataset into the Training set and Test set

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [15]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [16]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[100382.99 112500.  ]
 [126426.62  79900.  ]
 [192085.6  169800.  ]
 [159217.82 134900.  ]
 [ 60984.08  89900.  ]
 [235240.35 139400.  ]
 [218154.8  329900.  ]
 [117767.94 109900.  ]
 [257180.88 333200.  ]
 [196048.93 172900.  ]
 [ 94011.54  81900.  ]
 [187681.43 179900.  ]
 [265416.35 234900.  ]
 [ 91952.08  84800.  ]
 [212634.25 212000.  ]
 [ 60925.96  32000.  ]
 [223920.8  228900.  ]
 [250543.41 329800.  ]
 [ 71323.93  49900.  ]
 [159250.24 154800.  ]
 [ 68806.45  44800.  ]
 [ 11541.06  32900.  ]
 [ 75943.1   84900.  ]
 [343422.46 369800.  ]
 [ 79043.93  79900.  ]
 [267675.16 244995.  ]
 [-75206.25   9500.  ]
 [116842.06 119900.  ]
 [ 75733.07  99900.  ]
 [ 63803.02 120000.  ]
 [ 27610.89  19900.  ]
 [149781.41 149900.  ]
 [ 79722.82  69800.  ]
 [ 87963.3   49900.  ]
 [154077.1  149900.  ]
 [201454.7  199990.  ]
 [133514.33 129900.  ]
 [ 54746.96  30000.  ]
 [311515.05 348990.  ]
 [135395.01 150000.  ]
 [310968.81 319800.  ]
 [187279.56 199900.  ]
 [224088.13 154900.  ]
 [144095.17 143800.  ]
 [-71303.68   3500.  ]
 [155310.43 139900.  ]
 [168123.78 149995.  ]
 [-63178.39   9990.  ]
 [214021.6  189900.  ]
 [-19431.59  42800.  ]
 [153688.37 119700.  ]
 [184742.98 159800.  ]
 [190830.9  204900.  ]
 [258201.53 249900.  ]
 [285181.33 239800.  ]
 [224819.04 238700.  ]
 [206256.83 194900.  ]
 [140863.31 154900.  ]
 [ 88234.27  64900.  ]
 [-39412.88  30000.  ]
 [ 22570.58  33900.  ]
 [ -7134.21  14800.  ]
 [-50857.39   9900.  ]
 [136345.71 149700.  ]
 [279438.48 258000.  ]
 [197314.12 139900.  ]
 [151918.38 149900.  ]
 [277457.28 299900.  ]
 [215782.4  299900.  ]
 [205695.61 169700.  ]]

## Evaluating the Model Performance

In [17]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8271005638921378