# Multiple Linear Regression

# Import libraries

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import Cleaner as cl

## Importing the dataset

In [16]:
dataset = cl.get_and_clean_df('../data/bilhandel_unclean.csv')

dataset = dataset[dataset['Make'] == 'Mazda']

X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
display(dataset)

,Make,Brændstoftype,Gearkasse,Model,Kilometer,Årgang,Hestekræfter,Antal døre,Antal gear,Km/l,0 - 100 km/t,Tophastighed,Vægt,Grøn Ejerafgift,Nypris,Pris
197,Mazda,Benzin,Automatisk,CX-3,85000,2016,120,5,6,17.2,9.9,187.0,1.198,1.88,290998.0,179500
280,Mazda,Benzin,Manuel,3,339000,2009,105,5,5,15.9,12.2,184.0,1.155,2.52,218049.0,24900
297,Mazda,Benzin,Manuel,3,37000,2014,165,5,6,17.2,8.2,210.0,1.295,1.88,266997.0,149700
334,Mazda,Benzin,Automatisk,CX-5,9000,2020,165,5,6,16.7,9.8,192.0,1.484,2.38,435918.0,399700
381,Mazda,Benzin,Manuel,5,140000,2010,146,5,6,12.7,10.2,194.0,1.485,4.36,312990.0,79900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19595,Mazda,Benzin,Automatisk,2,28000,2015,90,5,6,20.8,12.0,177.0,975.000,660.00,175620.0,149900
19682,Mazda,Benzin,Manuel,3,116000,2013,165,5,6,17.2,8.2,210.0,1.295,1.88,293392.0,125000
19841,Mazda,Benzin,Manuel,3,145000,2011,105,4,5,15.4,12.2,184.0,1.155,2.52,224999.0,59900
19861,Mazda,Benzin,Manuel,6,78000,2002,141,5,5,11.8,9.9,206.0,1.300,4.96,281989.0,29900
19935,Mazda,Benzin,Manuel,2,133000,2010,86,5,5,19.2,12.9,172.0,930.000,1.28,149992.0,52800

## Encoding categorical data

In [17]:
from sklearn.compose import ColumnTransformer

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X[:, 0] = le.fit_transform(X[:,0])
X[:, 1] = le.fit_transform(X[:,1])
X[:, 2] = le.fit_transform(X[:,2])
X[:, 3] = le.fit_transform(X[:,3])

## Splitting the dataset into the Training set and Test set

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [19]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [20]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 99143.17 112500.  ]
 [131867.05  79900.  ]
 [192807.19 169800.  ]
 [156653.41 134900.  ]
 [ 58847.41  89900.  ]
 [235187.42 139400.  ]
 [223146.33 329900.  ]
 [115639.94 109900.  ]
 [258668.46 333200.  ]
 [195061.07 172900.  ]
 [ 96403.06  81900.  ]
 [188606.69 179900.  ]
 [263547.72 234900.  ]
 [ 93044.56  84800.  ]
 [212259.94 212000.  ]
 [ 65645.43  32000.  ]
 [224187.95 228900.  ]
 [253589.49 329800.  ]
 [ 73032.61  49900.  ]
 [158772.49 154800.  ]
 [ 72389.7   44800.  ]
 [ 11444.09  32900.  ]
 [ 75633.02  84900.  ]
 [341358.48 369800.  ]
 [ 84434.14  79900.  ]
 [264588.63 244995.  ]
 [-66472.74   9500.  ]
 [115391.01 119900.  ]
 [ 74393.95  99900.  ]
 [ 65353.87 120000.  ]
 [ 29677.47  19900.  ]
 [147733.22 149900.  ]
 [ 83184.35  69800.  ]
 [ 90937.52  49900.  ]
 [158353.98 149900.  ]
 [202636.5  199990.  ]
 [131795.42 129900.  ]
 [ 62233.72  30000.  ]
 [309089.77 348990.  ]
 [138840.06 150000.  ]
 [310065.83 319800.  ]
 [184848.98 199900.  ]
 [223534.1  154900.  ]
 [141766.38 143800.  ]
 [-62979.     3500.  ]
 [157056.31 139900.  ]
 [167351.63 149995.  ]
 [-58915.57   9990.  ]
 [215606.49 189900.  ]
 [-16755.45  42800.  ]
 [157827.41 119700.  ]
 [181346.8  159800.  ]
 [194293.78 204900.  ]
 [253838.21 249900.  ]
 [282166.15 239800.  ]
 [225046.03 238700.  ]]

## Evaluating the Model Performance

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8344923126164558