# Random Forest Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import Cleaner as cl

## Importing the dataset

In [2]:
dataset = cl.get_and_clean_df('../data/bilhandel_unclean.csv')

X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

display(dataset.columns)

0         Yaris
1           C30
2          E200
3          Vito
4         Viano
         ...
1994       XC60
1995        UP!
1996    Dobbelt
1997       L200
1998         A3
Name: Model, Length: 1999, dtype: object

Index(['Årgang', 'Vægt', 'Tophastighed', 'Kilometer', 'Nypris', 'Cylindre',
       '0 - 100 km/t', 'Airbags', 'Grøn Ejerafgift', 'Lasteevne', 'Model',
       'Gearkasse', 'Hestekræfter', 'Biltype', 'Max. påhæng', 'Make',
       'Antal døre', 'Km/l', 'Brændstoftype', 'Antal gear', 'Pris'],
      dtype='object')

## Splitting the dataset into the Training set and Test set

In [3]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [10,11,13,15,18])], remainder='passthrough', sparse_threshold=0)
X = np.array(ct.fit_transform(X))
display(X.shape)

(1026, 267)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Random Forest Regression model on the whole dataset

In [5]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

## Predicting the Test set results

In [6]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[158.72000000000003 '109.900']
 [97.24999999999999 '44.995']
 [236.04000000000002 '237.900']
 [76.90579999999999 '129.900']
 [65.74 '70.000']
 [59.05999999999999 '64.900']
 [17.6794 '3.500']
 [270.0195 '1.995']
 [278.49 '2.995']
 [33.89999999999999 '24.900']
 [43.0699 '36.900']
 [208.0045 '209.900']
 [259.19000000000005 '319.900']
 [53.45 '49.900']
 [296.35583333333335 '329.900']
 [157.41000000000003 '139.900']
 [140.81 '129.900']
 [136.60000000000002 '134.900']
 [62.85 '54.800']
 [21.1299 '24.500']
 [47.73700000000001 '248.800']
 [391.9800000000001 '389.900']
 [52.48 '74.900']
 [99.17375 '127.900']
 [222.18850000000003 '200.000']
 [371.63 '319.900']
 [259.21900000000005 '229.800']
 [38.3085 '99.500']
 [16.979799999999997 '24.900']
 [182.26800000000003 '169.900']
 [46.0999 '59.900']
 [119.99000000000001 '129.900']
 [33.89999999999999 '37.900']
 [32.160000000000004 '25.000']
 [116.24010000000001 '144.700']
 [20.809500000000003 '11.900']
 [161.39000000000004 '169.900']
 [216.8245 '214.900']
 [235.72000000000003 '269.900']
 [42.73 '59.900']
 [152.4888 '149.900']
 [247.52460000000002 '119.990']
 [56.83 '64.900']
 [79.8158 '109.900']
 [197.74563333333336 '169.900']
 [409.19000000000005 '6.448']
 [128.5624 '499.895']
 [74.67999999999999 '89.900']
 [117.36000000000001 '109.900']
 [198.13950000000003 '199.900']
 [22.440000000000005 '24.700']
 [108.7788 '79.900']
 [86.4143 '89.500']
 [15.110000000000003 '9.500']
 [43.40899999999999 '59.800']
 [409.19000000000005 '579.900']
 [188.99000000000004 '149.900']
 [101.51849999999999 '114.900']
 [39.8 '39.900']
 [165.419 '204.900']
 [83.7336 '1.638']
 [221.68983333333335 '268.900']
 [96.33999999999999 '107.800']
 [332.398 '334.000']
 [54.83 '29.800']
 [43.4616 '249.800']
 [337.30000000000007 '1.266']
 [149.82000000000002 '99.800']
 [154.88000000000002 '159.900']
 [25.618900000000004 '22.900']
 [108.37 '99.980']
 [59.889999999999986 '47.500']
 [14.300000000000002 '17.900']
 [153.53000000000003 '129.800']
 [116.57425 '134.900']
 [126.42 '179.800']
 [12.4996 '9.900']
 [56.39999999999999 '55.900']
 [48.88 '29.900']
 [326.01000000000005 '349.900']
 [84.11999999999999 '69.900']
 [112.21700000000001 '299.900']
 [224.19000000000005 '214.900']
 [166.43 '184.900']
 [189.9116 '3.407']
 [46.629999999999995 '57.900']
 [189.13000000000002 '194.900']
 [160.7359 '179.800']
 [198.91900000000004 '189.800']
 [151.40000000000003 '145.000']
 [208.06000000000003 '1.483']
 [38.3085 '99.500']
 [2.099 '114.900']
 [127.03340000000003 '2.987']
 [42.31999999999999 '44.900']
 [122.82000000000001 '119.900']
 [332.15950000000004 '349.800']
 [226.39000000000001 '199.995']
 [475.21960000000007 '519.900']
 [71.47999999999999 '56.500']
 [46.0092 '229.900']
 [196.2285 '199.800']
 [88.61999999999999 '119.900']
 [60.709999999999994 '79.900']
 [63.00600000000001 '269.900']
 [379.22 '399.900']
 [97.13 '78.900']
 [33.97550000000002 '319.900']
 [17.8789 '7.900']
 [15.150000000000002 '11.900']
 [28.9214 '2.146']
 [24.099899999999998 '14.900']
 [282.90000000000003 '284.900']
 [52.15 '59.900']
 [78.85999999999999 '78.900']
 [71.39999999999999 '59.900']
 [244.90000000000003 '319.900']
 [11.8 '17.500']
 [167.87000000000003 '169.900']
 [103.66 '119.900']
 [338.18 '354.900']
 [185.00900000000004 '264.900']
 [25.538000000000004 '39.900']
 [106.91 '89.900']
 [332.23425000000003 '350.000']
 [82.57804000000002 '93.800']
 [138.87000000000003 '114.500']
 [149.97830000000002 '194.900']
 [135.3988 '129.900']
 [14.989300000000004 '5.000']
 [63.782740000000004 '112.900']
 [122.62666666666667 '139.900']
 [87.7088 '56.700']
 [69.53 '64.900']
 [49.80999999999999 '69.900']
 [214.86400000000003 '279.200']
 [97.53999999999999 '109.900']
 [133.35500000000002 '149.800']
 [156.8144 '149.800']
 [150.1 '189.900']
 [284.62 '299.900']
 [174.79350000000005 '249.900']
 [290.7700000000001 '279.800']
 [113.35 '139.900']
 [160.7359 '179.800']
 [23.68 '20.000']
 [50.80999999999999 '48.700']
 [29.5899 '19.900']
 [39.98989999999999 '14.900']
 [24.0288 '24.900']
 [32.388999999999996 '22.500']
 [61.089999999999996 '63.700']
 [127.39000000000001 '124.000']
 [35.79 '29.800']
 [43.58999999999999 '23.800']
 [86.24999999999999 '94.900']
 [73.61 '59.900']
 [65.0 '39.900']
 [80.169 '74.900']
 [111.85999999999999 '109.000']
 [140.35000000000002 '99.900']
 [113.60499999999999 '119.900']
 [76.16999999999999 '84.900']
 [43.749 '32.900']
 [27.919999999999998 '19.900']
 [29.21200000000001 '169.800']
 [148.09 '139.500']
 [138.81 '143.900']
 [329.82000000000005 '1.995']
 [15.4899 '9.900']
 [283.90900000000005 '286.900']
 [154.18880000000001 '104.888']
 [99.32999999999998 '99.900']
 [97.05699999999999 '89.900']
 [158.54590000000002 '179.900']
 [36.559999999999995 '26.900']
 [137.33 '122.900']
 [104.1199 '119.900']
 [48.2 '39.900']
 [23.6798 '34.800']
 [323.899 '429.900']
 [205.70000000000005 '189.900']
 [62.78304000000001 '76.900']
 [242.1 '214.900']
 [127.03340000000003 '559.800']
 [32.989999999999995 '29.900']
 [37.808800000000005 '49.800']
 [80.44579999999999 '89.900']
 [114.66000000000001 '99.900']
 [291.55 '309.800']
 [222.99 '219.900']
 [37.699999999999996 '33.900']
 [115.39000000000001 '129.900']
 [221.00950000000003 '228.900']
 [308.16 '289.895']
 [210.7708 '209.800']
 [22.409000000000002 '12.500']
 [203.38950000000003 '239.900']
 [83.6699 '89.900']
 [51.05 '35.000']
 [16.550000000000004 '39.990']
 [11.88 '9.900']
 [149.40000000000003 '175.000']
 [189.50850000000003 '184.900']
 [148.19180000000003 '2.320']
 [34.248999999999995 '39.900']]

## Evaluating the Model Performance

In [7]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4578069101758455